<!DOCTYPE html>
<html lang="en">
<head>
  <%- include("./partials/head"); %>
</head>
<body class="container">

<header>
    <%- include("./partials/headers"); %>
</header>

<main>
  <div class="jumbotron">
    <h1><%= title %></h1>
  </div>
</main>

<footer>
    <%- include("./partials/footer"); %>
</footer>

</body>
</html>